{% extends "layout.html" %}

{% block title %}
Password Manager | Log In
{% endblock %}

{% block head %}
<script src="/static/scripts/login.js"></script>
{% endblock %}

{% block body %}
<div>
    <div class="panel" id="login">
        <div class="text">
            <p class="main justify-center">Sign In</p>
        </div>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" autofocus required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="center">Login</button>
        </form>
        <div class="divider transparent-border btm-border"></div>
        <div class="signup">
            <p class="text-small justify-center">Don't have an account?</p>
            <button id="signup-btn" class="btm-margin center">Sign Up</button>
        </div>
    </div>
    <div class="panel" id="signup">
        <div class="text">
            <p class="main justify-center">Sign Up</p>
        </div>
        <form action="/signup" method="post">
            <input type="text" name="username" placeholder="Username" autofocus required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="btm-margin center">Sign Up</button>
        </form>
        <div class="divider btm-border"></div>
        <div class="login">
            <p class="text-small justify-center">Already have an account?</p>
            <button id="login-btn" class="btm-margin center">Log In</button>
        </div>
    </div>
</div>
{% endblock %}