<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">

        <!-- File links -->
        <link href="/static/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close,delete,directory_sync,lock,visibility,visibility_off"/>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

         <!-- Favicon -->
        <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/128/595/595759.png">

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="antialiased flex flex-col min-h-screen">
         <header class="flex flex-col md:flex-row justify-between items-center p-4 bg-gray-900 text-white relative">
            <div id="titlebar" class="mb-4 md:mb-0 flex items-center">
                <h1 class="text-3xl font-bold flex items-center">
                    <a href="{{ url_for('index') }}" class="hover:text-gray-300 hover:no-underline">Password Manager</a>
                    <a href="{{ url_for('index') }}">
                        <span class="material-symbols-outlined ml-2">lock</span>
                    </a>
                </h1>
            </div>
            {% if current_user.is_anonymous %}
                <div id="account-buttons" class="flex space-x-4">
                    <div id="login-btn">
                        <a href="{{ url_for('login') }}" class="block px-4 py-2 rounded-md bg-gray-700 hover:bg-gray-600 transition hover:no-underline">Log In</a>
                    </div>
                    <div id="signup-btn">
                        <a href="{{ url_for('signup') }}" class="block px-4 py-2 rounded-md bg-blue-600 hover:bg-blue-700 transition hover:no-underline">Sign Up</a>
                    </div>
                </div>
            {% else %}
                <div class="flex items-center space-x-4">
                    <a href="{{ url_for('sign_out') }}" class="px-2 py-2 text-lg text-white hover:underline">Sign Out</a>
                    <a href="{{ url_for('profile', user_id=current_user.id) }}">
                        <img src="{% if current_user.profile_picture.startswith('http') %} {{current_user.profile_picture}} {% else %} {{ url_for('upload', filename=current_user.profile_picture) }} {% endif %}" alt="Profile Picture" id="profile-icon-picture" class="cursor-pointer mr-4">
                    </a>
                </div>
            {% endif %}
         </header>
        {% block body %}{% endblock %}
    </body>
</html>