{% extends "base.html" %}

{% block title %}
Password Manager | Edit Password
{% endblock %}

{% block body %}
<div id="user-background">
    <div id="user-profile-panel" class="center">
        <h1 class="font-bold pt-5 center" style="font-size: 30px; color: white;">Edit Password</h1>
        <div class="edit-form center pb-5">
            <form action="{{ url_for('edit_password', id=password.id) }}" method="post">
                {{ form.hidden_tag() }}
                <div>
                    <p>Item Details</p>
                    {{ form.name(placeholder="Name", autofocus="true", value=password.name) }}
                </div>
                <div>
                    <p>Credentials</p>
                    <div>
                        {{ form.username(placeholder="Username / Email Address", autocomplete="off", value=password.username) }}
                        <div class="flex items-center relative">
                            {{ form.password(placeholder="Password", autocomplete="off", id="password-input", value=password.password) }}
                            <span class="material-symbols-outlined flex h-full cursor-pointer text-white absolute top-2 right-10 rotate-75" id="generate" style="user-select: none;">directory_sync</span>
                        </div>
                    </div>
                    <div>
                        <div>
                            <input type="button" value="Options" class="border black-border" id="option-select">
                        </div>
                    </div>
                    <div id="options-div">
                        <p id="options-heading">Options</p>
                        <div id="options-div-div" class="flex">
                            <div class="inline" id="length">
                                <input type="number" placeholder="Length" value=8 id="length-input">
                            </div>
                            <div class="inline" style="align-items: center;" id="options">
                                <div style="margin-right: 2vw;">
                                    <label for="uppercase-ckbox">Uppercase</label>
                                    <input type="checkbox" id="uppercase-ckbox" checked>
                                </div>
                                <div style="margin-right: 2vw;">
                                    <label for="numbers-ckbox">Numbers</label>
                                    <input type="checkbox" id="numbers-ckbox" checked>
                                </div>
                                <div>
                                    <label for="punctuation-ckbox">Punctuation</label>
                                    <input type="checkbox" id="punctuation-ckbox" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Additional Options</p>
                    <div>
                        {{ form.website(placeholder="Website", autocomplete="off", value=password.website) }}
                        <textarea name="details" type="text" placeholder="Description" autocomplete="off" class="black-border w-full" style="height: 7em; resize: none;" value="{{ password.details }}"></textarea>
                    </div>
                </div>
                <div class="flex w-full gap-5 text-black">
                    {{ form.submit(class="flex bg-blue-600 hover:bg-blue-700 text-white transition w-1/5 px-2 py-2 rounded text-sm") }}
                    <a href="{{ url_for('index') }}" class="flex w-1/5 justify-center">Cancel</a>
                </div>
            </form>
            {% include "_errors.html" %}
        </div>
    </div>
</div>
<script src="/static/js/password_manager.js"></script>
{% endblock %}