{% extends "base.html" %}

{% block title %}
Password Manager
{% endblock %}

{% block body %}
<div>
    <button onclick="showDetails('add-login-panel')" class="mt-4 mb-4 p-2 center text-white text-xl border rounded w-1/10">Add Entry</button>
    <div id="passwords" class="w-1/2 center flex">
        <!-- The passwords associated with the user go here -->
    </div>
</div>
<div id="add-login-panel" class="hidden fixed inset-0 bg-black/80 flex items-center justify-center z-50 w-screen">
    <div class="bg-white rounded-lg p-2 max-w-lg w-full relative">
        <div class="flex flex-col md:flex-row justify-between items-center text-black">
            <b class="text-2xl m-4 mb-0">New Login</b>
            <span class="material-symbols-outlined mr-4 h-full cursor-pointer text-black" id="create-close">close</span>
        </div>
        <hr class="w-full text-black mt-2 mb-3">
        <div class="overflow-y-scroll text-black center w-full">
            <form action="{{ url_for('add_password') }}" method="post">
                {{ form.hidden_tag() }}
                <div>
                    <p>Item Details</p>
                    {{ form.name(placeholder="Name") }}
                </div>
                <div>
                    <p>Credentials</p>
                    <div>
                        {{ form.username(placeholder="Username / Email Address", autocomplete="off") }}
                        <div class="flex items-center relative">
                            {{ form.password(placeholder="Password", autocomplete="off", id="password-input") }}
                            <span class="material-symbols-outlined flex h-full cursor-pointer text-black absolute top-2 right-10 rotate-75" id="generate" style="user-select: none;">directory_sync</span>
                        </div>
                    </div>
                </div>
                <div id="password-generator">
                    <!-- The password generations options go here -->
                </div>
                <div>
                    <p>Additional Options</p>
                    <div>
                        {{ form.website(placeholder="Website", autocomplete="off") }}
                        <textarea name="details" type="text" placeholder="Description" autocomplete="off" class="border w-full" style="height: 7em; resize: none;"></textarea>
                    </div>
                </div>
                <div class="flex w-full gap-5 text-black">
                    {{ form.submit(class="flex bg-blue-600 hover:bg-blue-700 text-white transition w-1/5 px-2 py-2 rounded text-sm") }}
                    <button id="cancel" class="flex w-1/5 justify-center">Cancel</button>
                </div>
            </form>
            {% include "_errors.html" %}
        </div>
    </div>
</div>
<script src="/static/js/details.js"></script>
<script src="/static/js/password_manager.js"></script>
<script src="/static/js/get_passwords.js"></script>
{% endblock %}