{% extends "base.html" %}

{% block title %}
Password Manager | Profile
{% endblock %}

{% block body %}
<div id="user-background">
    <div id="user-profile-panel" class="center">
        <h1 class="font-bold pt-5 center" style="font-size: 30px; color: white;">Your Profile</h1>
        <div class="edit-form center pb-5">
            <form action="{{ url_for('profile', user_id=current_user.id) }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="mb-8 flex relative group w-33 h-35 center">
                    <label for="image-file">
                        <img src="{% if current_user.profile_picture.startswith('http') %} {{current_user.profile_picture}} {% else %} {{ url_for('upload', filename=current_user.profile_picture) }} {% endif %}" alt="Profile Picture" id="profile-picture-edit" class="w-full h-full object-cover rounded-full cursor-pointer">
                        <div class="absolute inset-0 bg-black/40 rounded-full flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity hover:cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536M4 13.5V19h5.5l9.207-9.207a1.5 1.5 0 00-2.121-2.121L4 13.5z"/>
                            </svg>
                        </div>
                    </label>
                    {{ form.profile_picture(id="image-file", accept="image/*", style="display: none;") }}
                </div>
                <div class="mb-6">
                    {{ form.email.label(class="block text-gray-400 font-bold mb-2") }}
                    {{ form.email(value=current_user.email, class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 border-gray-600 text-white") }}
                </div>
                <div class="mb-6">
                    {{ form.password.label(class="block text-gray-400 font-bold mb-2") }}
                    {{ form.password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 border-gray-600 text-white") }}
                </div>
                <div class="flex-container items-center justify-between center">
                    {{ form.submit(class="bg-blue-600 hover:bg-blue-700 border border-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition") }}
                </div>
            </form>
            {% if get_flashed_messages() or form.errors %}
                <div class="center error rounded-border-px mt-5">
                    {% if get_flashed_messages %}
                        {% for message in get_flashed_messages() %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if form.errors %}
                        {% for field, errors in form.errors.items() %}
                            {% for error in errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/js/image_preview.js"></script>
{% endblock %}